@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.line {
  border-bottom: 2.5px solid #fff;
  width: 65px;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .hero {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1582721478779-0ae163c05a60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1942&q=80);
  background-repeat: cover;
  background-position: center;
  background-size: cover;
  background-color: rgba(104, 104, 104, 0.258);
  background-blend-mode: multiply;
}
@media (max-width: 568px) {
  .wrapper .hero {
    background-color: #666666;
    background-blend-mode: overlay;
  }
}
.wrapper .hero .nav-bar {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
}
.wrapper .hero .nav-bar .link {
  padding: 10px;
  text-decoration: none;
  color: white;
  margin: 20px 10px 20px 45px;
  letter-spacing: 0.4rem;
}
@media (max-width: 568px) {
  .wrapper .hero .nav-bar .link {
    display: none;
  }
}
.wrapper .hero .nav-bar .subscribe-link {
  border: 2px solid white;
}
.wrapper .hero .burger-menu {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 568px) {
  .wrapper .hero .burger-menu {
    display: none;
  }
}
.wrapper .hero .burger-menu .fas {
  padding: 30px;
}
.wrapper .hero .burger-menu .fa-bars {
  color: white;
  font-size: 3rem;
}
.wrapper .hero .hero-title {
  margin: 20px 30px;
  color: #fff;
}
.wrapper .hero .hero-title .title {
  letter-spacing: 0.3rem;
  margin-top: 150px;
  font-size: 6rem;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}
.wrapper .hero .hero-title .subtitle {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.904);
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 568px) {
  .wrapper .hero .hero-title .subtitle {
    color: rgba(255, 255, 255, 0.904);
  }
}
.wrapper .hero .hero-title .line {
  border-bottom: 2.5px solid #fff;
  width: 65px;
  font-family: sans-serif;
  margin-bottom: 150px;
}
@media (max-width: 568px) {
  .wrapper .hero .hero-title .line {
    margin-bottom: 420px;
  }
}
.wrapper .hero .hero-description {
  text-align: center;
  margin: 100px auto 100px auto;
  color: #ffffff;
  max-width: 500px;
  line-height: 2rem;
}
.wrapper .hero .hero-description .title {
  font-size: 3.2rem;
  margin-bottom: 15px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.3rem;
}
@media (max-width: 568px) {
  .wrapper .hero .hero-description .title {
    margin-bottom: 50px;
  }
}
.wrapper .hero .hero-description .subtitle {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}
.wrapper .hero .hero-description .line {
  margin: 10px auto;
  border-bottom: 1.5px solid #fff;
}
.wrapper .hero .hero-description .hero-description-text {
  margin-bottom: 50px;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 568px) {
  .wrapper .hero .hero-description .hero-description-text {
    margin: 0 auto;
    font-size: 1.2rem;
    max-width: 450px;
    text-align: center;
    line-height: 3.2rem;
  }
}
.wrapper .articles {
  background-color: #333333;
  background-blend-mode: overlay;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 568px) {
  .wrapper .articles {
    align-items: stretch;
  }
}
.wrapper .articles .article-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .articles .article-text .title {
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
  font-size: 2.02rem;
  margin-bottom: 5px;
}
.wrapper .articles .article-text .subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}
.wrapper .articles .article-text .line {
  margin: 20px auto;
  border-bottom: 1.5px solid white;
}
.wrapper .articles .article-thumbnails {
  display: flex;
  margin: 0 10px 100px 0;
  justify-content: space-evenly;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 568px) {
  .wrapper .articles .article-thumbnails {
    display: block;
    margin: 10px 20px;
  }
}
.wrapper .articles .article-thumbnails .thumbnail1 {
  background-image: url(https://images.unsplash.com/photo-1573144693925-249c8159d330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=643&q=80);
  background-size: cover;
  background-position: center;
}
.wrapper .articles .article-thumbnails .thumbnail2 {
  background-image: url(https://images.unsplash.com/photo-1556139954-ec19cce61d61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
}
.wrapper .articles .article-thumbnails .thumbnail3 {
  background-image: url(https://images.unsplash.com/photo-1556660418-fc293a5d848d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-position: center;
}
.wrapper .articles .article-thumbnails .thumb-size {
  background-position: center;
  background-size: cover;
  max-width: calc(100% - 10px);
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1.5px 6px 1px rgba(0, 0, 0, 0.4);
  height: 500px;
}
@media (max-width: 568px) {
  .wrapper .articles .article-thumbnails .thumb-size {
    margin: 10px 10px;
    height: 500px;
    max-width: 100%;
    margin: 10px 0px;
  }
}
.wrapper .articles .article-thumbnails .thumb-size .thumb-text-position {
  margin-top: 400px;
  min-width: 220px;
}
.wrapper .articles .article-thumbnails .thumbnail-title {
  font-size: 1.5rem;
  color: white;
  font-family: "Roboto Slab", serif;
}
.wrapper .articles .article-thumbnails .thumbnail-subtitle {
  font-size: 0.8rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.wrapper .articles .article-thumbnails .line {
  margin: 10px auto;
  border-bottom: 1.5px solid white;
  width: 45px;
}
.wrapper .subscribe {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .subscribe .title {
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 2.5rem;
}
.wrapper .subscribe .subtitle {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  color: #bdbdbd;
  margin-bottom: 20px;
}
.wrapper .subscribe .subscribe-form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 568px) {
  .wrapper .subscribe .subscribe-form {
    min-width: 50%;
  }
}
.wrapper .subscribe .subscribe-form .email-input {
  text-align: left;
  min-width: 500px;
  padding: 15px 10px;
  flex-grow: 1;
  margin-bottom: 50px;
  background-color: #333333;
  color: white;
}
.wrapper .subscribe .subscribe-form .submit-button {
  margin: 0 auto;
  max-width: 500px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  padding: 15px 50px;
  margin-bottom: 100px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.4rem;
}
.wrapper .footer {
  background-color: #333333;
}
.wrapper .footer .footer-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  padding-top: 10px;
}
.wrapper .footer .footer-links .link {
  margin: 80px 15px 80px 15px;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
